/*-- scss:defaults --*/

$body-bg: #eee;
$body-color: #444;
$link-color: #666;
$code-block-bg: #eeeeee;
$code-block-border-color: #f5f4f4;
$presentation-h1-font-size: 3.4em;
$presentation-h2-font-size: 2.3em;
$presentation-h3-font-size: 1.8em;
$mermaid-font-size: 100px;
$font-family-sans-serif: "Source Sans Pro", !default;
/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}



.slide h1 {
  margin-top: -100px;
}

.slide li {
    font-size: 50px;
    color: #666;
}

.slide p {
    padding-top: 0px;
    font-size: 38px;
    color: #666;
}

.slide a {
    text-decoration: underline;
}

.slide code {
  font-size: 45px;
}

.schedule p {
  font-size: 80px;
  line-height: 1.4;
}

.schedule1 p {
  padding-left: 140px;
  padding-top: 330px;
  font-size: 130px;
  color: #579297;
}

.custom li {
  font-size: 90px;
  line-height: 1.5;
}

.custom code {
  font-size: 80px;
  line-height: 1.6;
}

.custom2-thin p {
  font-size: 50px;
  font-weight: 200;
  font-family:Helvetica Neue
}

.reveal line-block {
  font-size: 50px;
  font-weight: 200;
  font-family:Helvetica Neue
}

.custom2 p {
  text-align: center;
  color: #579297;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  
}

.custom2 li {
  font-size: 60px;
  font-weight: 100;
}

.custom2 code {
  font-size: 60px;
  font-weight: 1000;
}



.content-slide-title p {
  color: #579297;
  font-size: 100px;
}

.content-slide p {
  color: #666;
  line-height: 1.05;
  font-size: 140px;
}

.content-slide code {
  font-size: 120px;
}

.content-slide-thin p {
  font-size: 90px;
  font-weight: 100;
  font-family:Helvetica Neue
}

.dark-slide p {
  padding-top: 2.5em;
  text-align: center;
  font-size: 135px;
  font-weight: 800;
  color: #fff;
}

.dark-slide li {
  font-size: 100px;
  color: #fff;
  line-height: 1.2;
}

.team-thin p {
  line-height: 0.8;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  font-family:Helvetica Neue
}

.team p {
  line-height: 0.8;
  text-align: center;
  color: #579297;
  font-size: 65px;
  font-weight: 700;
}

.sample-code li {
  font-size: 52px;
  text-align: left;
}

.sample-code p {
  font-size: 50px;
  text-align: center;
}

.sample-code code {
  font-size: 40px;
}